[Unit]
Description=French App
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/mywords
ExecStart=/root/.nvm/versions/node/v20.17.0/bin/node -r dotenv/config build
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target